@import '~antd/dist/antd';
@import './Layout';
@import './About';
@import './Map';

.default-btn {
    background-color: #e23636;
}
.secondary-btn {
    background-color: #368fe2;
}

.select-100 {
    width: 100%;
}
.ant-modal-body { 
    padding: 10px;
}