.site-layout-background {
    height: 15%;
    padding: 0;
    text-align: center;
    h1 {
        color: #ffffff;
        padding: 15px 10px;
    }
    .logo {
        width: 60px;
        float: right;
        position: relative;
        top: -85px;
        right: 20px;
    }
}
.ant-layout-content {
    margin: 16px 16px;
}

.ant-layout-header { 
    background-color: #1F1F1F;
    max-height: 80px;
}
.ant-layout-content {
    background-color: #F9FAFC;
}

@media only screen and (max-width: 620px) {
    .logo {
      display: none;
    }
  }